
<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Order received from <%= @order.email %></h4>
    <h4>You purchased <%= @order.line_items.size %> items</h4>
    <h4>
    <h4>You spent $<%=Money.new(@order.total_cents, "USD") %> </h4>
    <% @order.line_items.each do |item| %>
      <h4><%= Money.new(item.item_price_cents, "USD") %></h4>
      <h4><%= item.product.name %>
      <% end %>

    <h4>Thank you for your order!</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
